#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gallery-container{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-grid{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.product-card:hover{
  transform: translateY(-4px);
}

.price{
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
}

.stock-available{
  background-color: #ddf2df;
  color: #00ff1a;
  font-weight: 700;
}
.stock-unavailable{
  background-color: #f2dddf;
  color: #ff1a00;
  font-weight: 700;
}


/* ////// */
/* theme.css */


.theme-toggle-container {
  padding: 1rem;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.theme-toggle-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.theme-content {
  padding: 1rem;
}

p > span{
  color:#007bff;
  cursor: pointer;
}

input{
  color: #fff;
  background-color: #007bff;
}